build/
dist/
ejecutables/
Data/
__pycache__/
venv/
.env
*.py[cod]
*.egg-info/
*.log
*.jpg
*.png
*.pdf
*.docx
*.doc
*.pptx
*.ppt
*.xls
*.xlsx
*.csv
*.txt
!requirements.txt
*.ui
*.edb
*.pyc
*.rvt
*.exe
*.dxf
*Ejecutable*/